# Divvy Bike-Share: Cleaning/Manipulation of Data and Exploration

The data sets used here can be found [at this link](https://divvy-tripdata.s3.amazonaws.com/index.html).

In this Jupyter Notebook, we clean, manipulate, and explore Divvy Bike-Share data for the Google data analytics capstone project--more information can be found [here](https://kaylabollinger.github.io/port-pages/capstone.html).

First, we import the pandas library--this will be sufficient for our analysis.

In [1]:
import pandas as pd

## Load Data

To load the 12 separate data sets easily, we only need to rename the "202209" dataset from "202209-divvy-publictripdata" to match the convention "202209-divvy-tripdata" (to match the convention of the other datasets).

In [2]:
date_range = ['202111','202112','202201','202202','202203','202204','202205','202206','202207','202208','202209','202210']
df_list = []
for month in date_range:
    df_list.append(pd.read_csv(f'{month}-divvy-tripdata/{month}-divvy-tripdata.csv'))

Print out info on each dataset to confirm they contain the same attributes.

In [3]:
for df in df_list:
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359978 entries, 0 to 359977
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             359978 non-null  object
 1   rideable_type       359978 non-null  object
 2   started_at          359978 non-null  object
 3   ended_at            359978 non-null  object
 4   start_station_name  284688 non-null  object
 5   start_station_id    284688 non-null  object
 6   end_station_name    280791 non-null  object
 7   end_station_id      280791 non-null  object
 8   start_lat           359978 non-null  float64
 9   start_lng           359978 non-null  float64
 10  end_lat             359787 non-null  float64
 11  end_lng             359787 non-null  float64
 12  member_casual       359978 non-null  object
dtypes: float64(4), object(9)
memory usage: 35.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247540 entries, 0 to 247539
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             247540 non-null  object
 1   rideable_type       247540 non-null  object
 2   started_at          247540 non-null  object
 3   ended_at            247540 non-null  object
 4   start_station_name  196477 non-null  object
 5   start_station_id    196477 non-null  object
 6   end_station_name    194042 non-null  object
 7   end_station_id      194042 non-null  object
 8   start_lat           247540 non-null  float64
 9   start_lng           247540 non-null  float64
 10  end_lat             247396 non-null  float64
 11  end_lng             247396 non-null  float64
 12  member_casual       247540 non-null  object
dtypes: float64(4), object(9)
memory usage: 24.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103770 entries, 0 to 103769
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             103770 non-null  object
 1   rideable_type       103770 non-null  object
 2   started_at          103770 non-null  object
 3   ended_at            103770 non-null  object
 4   start_station_name  87510 non-null   object
 5   start_station_id    87510 non-null   object
 6   end_station_name    85843 non-null   object
 7   end_station_id      85843 non-null   object
 8   start_lat           103770 non-null  float64
 9   start_lng           103770 non-null  float64
 10  end_lat             103684 non-null  float64
 11  end_lng             103684 non-null  float64
 12  member_casual       103770 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             115609 non-null  object
 1   rideable_type       115609 non-null  object
 2   started_at          115609 non-null  object
 3   ended_at            115609 non-null  object
 4   start_station_name  97029 non-null   object
 5   start_station_id    97029 non-null   object
 6   end_station_name    95254 non-null   object
 7   end_station_id      95254 non-null   object
 8   start_lat           115609 non-null  float64
 9   start_lng           115609 non-null  float64
 10  end_lat             115532 non-null  float64
 11  end_lng             115532 non-null  float64
 12  member_casual       115609 non-null  object
dtypes: float64(4), object(9)
memory usage: 11.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284042 entries, 0 to 284041
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             284042 non-null  object
 1   rideable_type       284042 non-null  object
 2   started_at          284042 non-null  object
 3   ended_at            284042 non-null  object
 4   start_station_name  236796 non-null  object
 5   start_station_id    236796 non-null  object
 6   end_station_name    232885 non-null  object
 7   end_station_id      232885 non-null  object
 8   start_lat           284042 non-null  float64
 9   start_lng           284042 non-null  float64
 10  end_lat             283776 non-null  float64
 11  end_lng             283776 non-null  float64
 12  member_casual       284042 non-null  object
dtypes: float64(4), object(9)
memory usage: 28.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371249 entries, 0 to 371248
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             371249 non-null  object
 1   rideable_type       371249 non-null  object
 2   started_at          371249 non-null  object
 3   ended_at            371249 non-null  object
 4   start_station_name  300362 non-null  object
 5   start_station_id    300362 non-null  object
 6   end_station_name    295961 non-null  object
 7   end_station_id      295961 non-null  object
 8   start_lat           371249 non-null  float64
 9   start_lng           371249 non-null  float64
 10  end_lat             370932 non-null  float64
 11  end_lng             370932 non-null  float64
 12  member_casual       371249 non-null  object
dtypes: float64(4), object(9)
memory usage: 36.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634858 entries, 0 to 634857
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             634858 non-null  object
 1   rideable_type       634858 non-null  object
 2   started_at          634858 non-null  object
 3   ended_at            634858 non-null  object
 4   start_station_name  548154 non-null  object
 5   start_station_id    548154 non-null  object
 6   end_station_name    541687 non-null  object
 7   end_station_id      541687 non-null  object
 8   start_lat           634858 non-null  float64
 9   start_lng           634858 non-null  float64
 10  end_lat             634136 non-null  float64
 11  end_lng             634136 non-null  float64
 12  member_casual       634858 non-null  object
dtypes: float64(4), object(9)
memory usage: 63.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769204 entries, 0 to 769203
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             769204 non-null  object
 1   rideable_type       769204 non-null  object
 2   started_at          769204 non-null  object
 3   ended_at            769204 non-null  object
 4   start_station_name  676260 non-null  object
 5   start_station_id    676260 non-null  object
 6   end_station_name    669052 non-null  object
 7   end_station_id      669052 non-null  object
 8   start_lat           769204 non-null  float64
 9   start_lng           769204 non-null  float64
 10  end_lat             768149 non-null  float64
 11  end_lng             768149 non-null  float64
 12  member_casual       769204 non-null  object
dtypes: float64(4), object(9)
memory usage: 76.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823488 entries, 0 to 823487
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             823488 non-null  object
 1   rideable_type       823488 non-null  object
 2   started_at          823488 non-null  object
 3   ended_at            823488 non-null  object
 4   start_station_name  711457 non-null  object
 5   start_station_id    711457 non-null  object
 6   end_station_name    702537 non-null  object
 7   end_station_id      702537 non-null  object
 8   start_lat           823488 non-null  float64
 9   start_lng           823488 non-null  float64
 10  end_lat             822541 non-null  float64
 11  end_lng             822541 non-null  float64
 12  member_casual       823488 non-null  object
dtypes: float64(4), object(9)
memory usage: 81.7+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785932 entries, 0 to 785931
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             785932 non-null  object
 1   rideable_type       785932 non-null  object
 2   started_at          785932 non-null  object
 3   ended_at            785932 non-null  object
 4   start_station_name  673895 non-null  object
 5   start_station_id    673895 non-null  object
 6   end_station_name    665410 non-null  object
 7   end_station_id      665410 non-null  object
 8   start_lat           785932 non-null  float64
 9   start_lng           785932 non-null  float64
 10  end_lat             785089 non-null  float64
 11  end_lng             785089 non-null  float64
 12  member_casual       785932 non-null  object
dtypes: float64(4), object(9)
memory usage: 78.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701339 entries, 0 to 701338
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             701339 non-null  object
 1   rideable_type       701339 non-null  object
 2   started_at          701339 non-null  object
 3   ended_at            701339 non-null  object
 4   start_station_name  597559 non-null  object
 5   start_station_id    597559 non-null  object
 6   end_station_name    590154 non-null  object
 7   end_station_id      590154 non-null  object
 8   start_lat           701339 non-null  float64
 9   start_lng           701339 non-null  float64
 10  end_lat             700627 non-null  float64
 11  end_lng             700627 non-null  float64
 12  member_casual       701339 non-null  object
dtypes: float64(4), object(9)
memory usage: 69.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558685 entries, 0 to 558684
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             558685 non-null  object
 1   rideable_type       558685 non-null  object
 2   started_at          558685 non-null  object
 3   ended_at            558685 non-null  object
 4   start_station_name  467330 non-null  object
 5   start_station_id    467330 non-null  object
 6   end_station_name    462068 non-null  object
 7   end_station_id      462068 non-null  object
 8   start_lat           558685 non-null  float64
 9   start_lng           558685 non-null  float64
 10  end_lat             558210 non-null  float64
 11  end_lng             558210 non-null  float64
 12  member_casual       558685 non-null  object
dtypes: float64(4), object(9)
memory usage: 55.4+ MB
None

Since each dataset contains the same attributes, we can concatenate them into a single dataframe to analyze (their month information is still available in the "started_at"/"ended_at" attributes.

In [4]:
df = pd.concat(df_list)

Now we'll take a quick look at the data.

In [5]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7C00A93E10556E47,electric_bike,2021-11-27 13:27:38,2021-11-27 13:46:38,NaN,NaN,NaN,NaN,41.930000,-87.720000,41.960000,-87.730000,casual
1,90854840DFD508BA,electric_bike,2021-11-27 13:38:25,2021-11-27 13:56:10,NaN,NaN,NaN,NaN,41.960000,-87.700000,41.920000,-87.700000,casual
2,0A7D10CDD144061C,electric_bike,2021-11-26 22:03:34,2021-11-26 22:05:56,NaN,NaN,NaN,NaN,41.960000,-87.700000,41.960000,-87.700000,casual
3,2F3BE33085BCFF02,electric_bike,2021-11-27 09:56:49,2021-11-27 10:01:50,NaN,NaN,NaN,NaN,41.940000,-87.790000,41.930000,-87.790000,casual
4,D67B4781A19928D4,electric_bike,2021-11-26 19:09:28,2021-11-26 19:30:41,NaN,NaN,NaN,NaN,41.900000,-87.630000,41.880000,-87.620000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
558680,BC3BFA659C9AB6F1,classic_bike,2022-10-30 01:41:29,2022-10-30 01:57:16,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558681,ACD65450291CF95F,classic_bike,2022-10-30 01:41:54,2022-10-30 01:57:09,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558682,4AAC03D1438E97CA,classic_bike,2022-10-15 09:34:11,2022-10-15 10:03:21,Sedgwick St & North Ave,TA1307000038,Wabash Ave & Grand Ave,TA1307000117,41.911386,-87.638677,41.891466,-87.626761,casual
558683,8E6F3F29785E5D40,classic_bike,2022-10-09 10:21:34,2022-10-09 10:43:45,Sedgwick St & North Ave,TA1307000038,Damen Ave & Clybourn Ave,13271,41.911386,-87.638677,41.931931,-87.677856,member
558684,8D14CBE672431920,docked_bike,2022-10-22 13:17:13,2022-10-22 13:46:14,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual

We'll first convert "started_at" and "ended_at" to type "datetime", and then we will explore each attribute more closesly.

In [6]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

## ride_id

This attribute should be a unique identifier for each trip--we expect them to unique and not null, so we check for theses properties.

In [7]:
df[df['ride_id'].isna()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [8]:
df[df['ride_id'].duplicated()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

Everything looks good--nothing to fix/clean.

## rideable_type

This attribute should indicate what type of bike was used. We will first explore the different options described in the data.

In [9]:
df['rideable_type'].unique()

array(['electric_bike', 'classic_bike', 'docked_bike'], dtype=object)

There are no null values or apparent typos. However, it is not clear what the difference is between "electric_bike"/"classic_bike" vs "docked_bike". Normally this could be a quick question for a stakeholder, but for this case study we will just do our own investigation. First, we take a closer look at the "docked_bike" rideable_type.

In [10]:
df[df['rideable_type']=='docked_bike']

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
528,2C78CB8C153E2DFA,docked_bike,2021-11-07 14:39:41,2021-11-07 16:51:20,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
2032,860AFB2EA0ABC296,docked_bike,2021-11-06 14:55:37,2021-11-06 16:24:24,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
2768,4AEF5789ADF9D8ED,docked_bike,2021-11-04 04:09:57,2021-11-04 04:35:23,Paulina St & 18th St,TA1307000159,Morgan St & Pershing Rd,16933,41.857901,-87.668745,41.823613,-87.650931,casual
2777,15E0EAF943D03B1C,docked_bike,2021-11-13 13:36:24,2021-11-13 13:43:56,Damen Ave & Charleston St,13288,Logan Blvd & Elston Ave,TA1308000031,41.920082,-87.677855,41.929465,-87.684158,casual
2788,655AF153783EFA54,docked_bike,2021-11-30 16:44:41,2021-11-30 16:59:14,Burnham Harbor,15545,DuSable Lake Shore Dr & Monroe St,13300,41.856268,-87.613348,41.880958,-87.616743,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
558636,7C622DC6F652505F,docked_bike,2022-10-05 16:32:35,2022-10-05 17:15:36,Shedd Aquarium,15544,Wabash Ave & Grand Ave,TA1307000117,41.867226,-87.615355,41.891466,-87.626761,casual
558647,38D4A0162E2BE38D,docked_bike,2022-10-28 01:03:32,2022-10-28 10:06:36,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual
558669,E632C8F3BB342576,docked_bike,2022-10-22 13:16:48,2022-10-22 13:46:04,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual
558677,C5F29A096BDE2678,docked_bike,2022-10-22 13:17:09,2022-10-22 13:46:18,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual
558684,8D14CBE672431920,docked_bike,2022-10-22 13:17:13,2022-10-22 13:46:14,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual

Docked bikes account for 3% of the total dataset, so the vast majority are labeled either "electric_bike" or "classic_bike". Since Divvy electric bikes are allowed to be parked anywhere--unlike the classic bikes which can only be parked at docking stations, it may be that "docked" bikes actually refer to classic bikes. This is also supported by the fact that up through July 2020, the only rideable_type listed in Divvy trip data was "docked_bike". Then [at the end of July 2020 electric bikes were introduced to the Divvy fleet](https://twitter.com/DivvyBikes/status/1288511684512870402), and the rideable_type "electric_bike" then appeared in the August 2020 data. This leads us to believe that "docked_bike" refers to "classic_bike", before the term "classic_bike" was adopted (as it was not needed before electric bikes were introduced). To support this hypothesis, we will take a look at the stations where "docked_bike"s could be found.

In [11]:
# check start stations for docked bikes
df[df['rideable_type']=='docked_bike']['start_station_name'].sort_values().unique()

array(['2112 W Peterson Ave', '63rd St Beach', '900 W Harrison St',
       'Aberdeen St & Jackson Blvd', 'Aberdeen St & Monroe St',
       'Aberdeen St & Randolph St', 'Ada St & 113th St',
       'Ada St & Washington Blvd', 'Adler Planetarium',
       'Albany Ave & 26th St', 'Albany Ave & Bloomingdale Ave',
       'Albany Ave & Montrose Ave', 'Altgeld Gardens',
       'Archer (Damen) Ave & 37th St', 'Artesian Ave & Hubbard St',
       'Ashland Ave & 13th St', 'Ashland Ave & 50th St',
       'Ashland Ave & 63rd St', 'Ashland Ave & 66th St',
       'Ashland Ave & 74th St', 'Ashland Ave & 78th St',
       'Ashland Ave & Archer Ave', 'Ashland Ave & Augusta Blvd',
       'Ashland Ave & Belle Plaine Ave', 'Ashland Ave & Blackhawk St',
       'Ashland Ave & Chicago Ave', 'Ashland Ave & Division St',
       'Ashland Ave & Garfield Blvd', 'Ashland Ave & Grace St',
       'Ashland Ave & Grand Ave', 'Ashland Ave & Lake St',
       'Ashland Ave & McDowell Ave', 'Ashland Ave & Pershing Rd',
       'Ashland Ave & Wellington Ave', 'Ashland Ave & Wrightwood Ave',
       'Austin Blvd & Chicago Ave', 'Austin Blvd & Lake St',
       'Austin Blvd & Madison St', 'Avenue O & 118th St',
       'Avenue O & 134th St', 'Avers Ave & Belmont Ave',
       'Avondale Ave & Irving Park Rd', 'Baltimore Ave & 87th St',
       'Bennett Ave & 79th St', 'Benson Ave & Church St',
       'Bernard St & Elston Ave', 'Big Marsh Park',
       'Bissell St & Armitage Ave', 'Blackstone Ave & Hyde Park Blvd',
       'Blue Island Ave & 18th St', 'Bosworth Ave & Howard St',
       'Bradley Park', 'Broadway & Argyle St', 'Broadway & Barry Ave',
       'Broadway & Belmont Ave', 'Broadway & Berwyn Ave',
       'Broadway & Cornelia Ave', 'Broadway & Granville Ave',
       'Broadway & Ridge Ave', 'Broadway & Sheridan Rd',
       'Broadway & Thorndale Ave', 'Broadway & Waveland Ave',
       'Broadway & Wilson - Truman College Vaccination Site',
       'Broadway & Wilson Ave', 'Buckingham Fountain',
       'Buckingham Fountain (Temp)', 'Budlong Woods Library',
       'Burling St & Diversey Pkwy', 'Burnham Greenway & 105th St',
       'Burnham Greenway & 112th St', 'Burnham Harbor',
       'California Ave & 21st St', 'California Ave & 23rd Pl',
       'California Ave & 26th St', 'California Ave & Altgeld St',
       'California Ave & Byron St', 'California Ave & Cortez St',
       'California Ave & Division St', 'California Ave & Fletcher St',
       'California Ave & Francis Pl (Temp)', 'California Ave & Lake St',
       'California Ave & Milwaukee Ave', 'California Ave & Montrose Ave',
       'California Ave & North Ave', 'Calumet Ave & 18th St',
       'Calumet Ave & 21st St', 'Calumet Ave & 33rd St',
       'Calumet Ave & 35th St', 'Calumet Ave & 51st St',
       'Calumet Ave & 71st St', 'Calumet Park',
       'Campbell Ave & Fullerton Ave', 'Campbell Ave & Montrose Ave',
       'Campbell Ave & Montrose Ave (Temp)', 'Campbell Ave & North Ave',
       'Canal St & Adams St', 'Canal St & Harrison St',
       'Canal St & Jackson Blvd', 'Canal St & Madison St',
       'Canal St & Monroe St', 'Canal St & Taylor St',
       'Cannon Dr & Fullerton Ave', 'Carpenter St & 63rd St',
       'Carpenter St & Huron St', 'Central Ave & Chicago Ave',
       'Central Ave & Harrison St', 'Central Ave & Lake St',
       'Central Ave & Madison St', 'Central Park Ave & 24th St',
       'Central Park Ave & Bloomingdale Ave',
       'Central Park Ave & Elbridge Ave', 'Central Park Ave & North Ave',
       'Central Park Ave & Ogden Ave', 'Central Park Blvd & 5th Ave',
       'Central St & Girard Ave', 'Central St Metra',
       'Cherry Ave & Blackhawk St', 'Chicago Ave & Sheridan Rd',
       'Chicago Ave & Washington St', 'Chicago State University',
       'Christiana Ave & Lawrence Ave', 'Cicero Ave & Flournoy St',
       'Cicero Ave & Lake St', 'Cicero Ave & Quincy St',
       'Cityfront Plaza Dr & Pioneer Ct', 'Claremont Ave & Hirsch St',
       'Clarendon Ave & Gordon Ter', 'Clarendon Ave & Junior Ter',
       'Clarendon Ave & Leland Ave', 'Clark St & 9th St (AMLI)',
       'Clark St & Armitage Ave', 'Clark St & Berwyn Ave',
       'Clark St & Bryn Mawr Ave', 'Clark St & Chicago Ave',
       'Clark St & Columbia Ave', 'Clark St & Drummond Pl',
       'Clark St & Elm St', 'Clark St & Elmdale Ave',
       'Clark St & Grace St', 'Clark St & Ida B Wells Dr',
       'Clark St & Jarvis Ave', 'Clark St & Lake St',
       'Clark St & Leland Ave', 'Clark St & Lincoln Ave',
       'Clark St & Lunt Ave', 'Clark St & Montrose Ave',
       'Clark St & Newport St', 'Clark St & North Ave',
       'Clark St & Randolph St', 'Clark St & Schiller St',
       'Clark St & Schreiber Ave', 'Clark St & Touhy Ave',
       'Clark St & Wellington Ave', 'Clark St & Winnemac Ave',
       'Clark St & Wrightwood Ave', 'Clifton Ave & Armitage Ave',
       'Clinton St & 18th St', 'Clinton St & Jackson Blvd',
       'Clinton St & Lake St', 'Clinton St & Madison St',
       'Clinton St & Polk St', 'Clinton St & Roosevelt Rd',
       'Clinton St & Tilden St', 'Clinton St & Washington Blvd',
       'Clybourn Ave & Division St', 'Clyde Ave & 87th St',
       'Columbus Dr & Randolph St', 'Commercial Ave & 100th St',
       'Commercial Ave & 130th St', 'Commercial Ave & 83rd St',
       'Conservatory Dr & Lake St', 'Constance Ave & 95th St',
       'Cornell Ave & Hyde Park Blvd', 'Cornell Dr & Hayes Dr',
       'Cottage Grove Ave & 111th Pl', 'Cottage Grove Ave & 43rd St',
       'Cottage Grove Ave & 47th St', 'Cottage Grove Ave & 51st St',
       'Cottage Grove Ave & 63rd St', 'Cottage Grove Ave & 67th St',
       'Cottage Grove Ave & 71st St', 'Cottage Grove Ave & 78th St',
       'Cottage Grove Ave & 83rd St', 'Cottage Grove Ave & Oakwood Blvd',
       'Daley Center Plaza', 'Damen Ave & 51st St', 'Damen Ave & 59th St',
       'Damen Ave & 74th St', 'Damen Ave & Charleston St',
       'Damen Ave & Chicago Ave', 'Damen Ave & Clybourn Ave',
       'Damen Ave & Cortland St', 'Damen Ave & Coulter St',
       'Damen Ave & Cullerton St', 'Damen Ave & Division St',
       'Damen Ave & Foster Ave', 'Damen Ave & Grand Ave',
       'Damen Ave & Leland Ave', 'Damen Ave & Madison St',
       'Damen Ave & Melrose Ave', 'Damen Ave & Pershing Rd',
       'Damen Ave & Pierce Ave', 'Damen Ave & Sunnyside Ave',
       'Damen Ave & Thomas St (Augusta Blvd)',
       'Damen Ave & Walnut (Lake) St', 'Damen Ave & Wellington Ave',
       'Dauphin Ave & 103rd St', 'Dauphin Ave & 87th St',
       'Dayton St & North Ave', 'Dearborn Pkwy & Delaware Pl',
       'Dearborn St & Adams St', 'Dearborn St & Erie St',
       'Dearborn St & Monroe St', 'Dearborn St & Van Buren St',
       'Delano Ct & Roosevelt Rd', 'Desplaines St & Jackson Blvd',
       'Desplaines St & Kinzie St', 'Desplaines St & Randolph St',
       'Divvy Valet - Oakwood Beach', 'Dodge Ave & Church St',
       'Dodge Ave & Main St', 'Dodge Ave & Mulford St',
       'Dorchester Ave & 49th St', 'Dorchester Ave & 63rd St',
       'Doty Ave & 111th St', 'Drake Ave & Addison St',
       'Drake Ave & Montrose Ave', 'DuSable Lake Shore Dr & Belmont Ave',
       'DuSable Lake Shore Dr & Diversey Pkwy',
       'DuSable Lake Shore Dr & Monroe St',
       'DuSable Lake Shore Dr & North Blvd',
       'DuSable Lake Shore Dr & Ohio St',
       'DuSable Lake Shore Dr & Wellington Ave', 'DuSable Museum',
       'Dusable Harbor', 'East End Ave & 87th St',
       'Eastlake Ter & Howard St', 'Eastlake Ter & Rogers Ave',
       'Eberhart Ave & 131st St', 'Eberhart Ave & 61st St',
       'Eberhart Ave & 91st St', 'Eckhart Park',
       'Eggleston Ave & 69th St', 'Elizabeth (May) St & Fulton St',
       'Elizabeth St & 47th St', 'Elizabeth St & 59th St',
       'Elizabeth St & 92nd St', 'Elizabeth St & Fulton St',
       'Ellis Ave & 53rd St', 'Ellis Ave & 55th St',
       'Ellis Ave & 58th St', 'Ellis Ave & 60th St',
       'Ellis Ave & 83rd St', 'Elmwood Ave & Austin St',
       'Elston Ave & Cortland St', 'Elston Ave & Wabansia Ave',
       'Emerald Ave & 28th St', 'Emerald Ave & 31st St',
       'Evans Ave & 75th St', 'Evanston Civic Center',
       'Ewing Ave & Burnham Greenway', 'Exchange Ave & 79th St',
       'Fairbanks Ct & Grand Ave', 'Fairbanks St & Superior St',
       'Fairfield Ave & Roosevelt Rd', 'Federal St & Polk St',
       'Field Blvd & South Water St', 'Field Museum',
       'Financial Pl & Ida B Wells Dr', 'Fort Dearborn Dr & 31st St',
       'Francisco Ave & Foster Ave', 'Franklin St & Adams St (Temp)',
       'Franklin St & Chicago Ave', 'Franklin St & Illinois St',
       'Franklin St & Jackson Blvd', 'Franklin St & Lake St',
       'Franklin St & Monroe St', 'Glenwood Ave & Morse Ave',
       'Glenwood Ave & Touhy Ave', 'Green St & Madison St',
       'Green St & Randolph St', 'Green St & Washington Blvd',
       'Greenview Ave & Diversey Pkwy', 'Greenview Ave & Fullerton Ave',
       'Greenview Ave & Jarvis Ave', 'Greenwood Ave & 47th St',
       'Greenwood Ave & 79th St', 'Greenwood Ave & 91st St',
       'Greenwood Ave & 97th St', 'Hale Ave & 107th St',
       'Halsted & 63rd - Kennedy-King Vaccination Site',
       'Halsted St & 104th St', 'Halsted St & 111th St',
       'Halsted St & 18th St', 'Halsted St & 18th St (Temp)',
       'Halsted St & 21st St', 'Halsted St & 35th St',
       'Halsted St & 37th St', 'Halsted St & 47th Pl',
       'Halsted St & 51st St', 'Halsted St & 56th St',
       'Halsted St & 59th St', 'Halsted St & 69th St',
       'Halsted St & 73rd St', 'Halsted St & 78th St',
       'Halsted St & 96th St', 'Halsted St & Archer Ave',
       'Halsted St & Clybourn Ave', 'Halsted St & Dickens Ave',
       'Halsted St & Maxwell St', 'Halsted St & North Branch St',
       'Halsted St & Polk St', 'Halsted St & Roosevelt Rd',
       'Halsted St & Roscoe St', 'Halsted St & Willow St',
       'Halsted St & Wrightwood Ave', 'Harper Ave & 59th St',
       'Hegewisch Metra Station', 'Hermitage Ave & Polk St',
       'Homewood Ave & 115th St', 'Honore St & Division St',
       'Houston Ave & 92nd St', 'Hoyne Ave & 47th St',
       'Hoyne Ave & Balmoral Ave', 'Humboldt Blvd & Armitage Ave',
       'Indiana Ave & 103rd St', 'Indiana Ave & 26th St',
       'Indiana Ave & 31st St', 'Indiana Ave & 40th St',
       'Indiana Ave & Roosevelt Rd', 'Jefferson St & Monroe St',
       'Jeffery Blvd & 67th St', 'Jeffery Blvd & 71st St',
       'Jeffery Blvd & 76th St', 'Karlov Ave & Madison St',
       'Kedzie Ave & 110th St', 'Kedzie Ave & 21st St',
       'Kedzie Ave & 24th St', 'Kedzie Ave & Bryn Mawr Ave',
       'Kedzie Ave & Chicago Ave', 'Kedzie Ave & Foster Ave',
       'Kedzie Ave & Harrison St', 'Kedzie Ave & Lake St',
       'Kedzie Ave & Leland Ave', 'Kedzie Ave & Milwaukee Ave',
       'Kedzie Ave & Palmer Ct', 'Kedzie Ave & Roosevelt Rd',
       'Kenton Ave & Madison St', 'Keystone Ave & Fullerton Ave',
       'Keystone Ave & Montrose Ave', 'Kilbourn Ave & Irving Park Rd',
       'Kilbourn Ave & Milwaukee Ave', 'Kildare Ave & Montrose Ave',
       'Kimball Ave & Belmont Ave', 'Kimbark Ave & 53rd St',
       'Kingsbury St & Erie St', 'Kingsbury St & Kinzie St',
       'Knox Ave & Montrose Ave', 'Kosciuszko Park',
       'Kostner Ave & Adams St', 'Kostner Ave & Lake St',
       'LaSalle Dr & Huron St', 'LaSalle St & Adams St',
       'LaSalle St & Illinois St', 'LaSalle St & Jackson Blvd',
       'LaSalle St & Washington St', 'Laflin St & Cullerton St',
       'Lake Park Ave & 35th St', 'Lake Park Ave & 47th St',
       'Lake Park Ave & 53rd St', 'Lake Park Ave & 56th St',
       'Lakefront Trail & Bryn Mawr Ave', 'Lakefront Trail & Wilson Ave',
       'Lakeview Ave & Fullerton Pkwy', 'Laramie Ave & Gladys Ave',
       'Laramie Ave & Kinzie St', 'Laramie Ave & Madison St',
       'Larrabee St & Armitage Ave', 'Larrabee St & Division St',
       'Larrabee St & Kingsbury St', 'Larrabee St & Menomonee St',
       'Larrabee St & North Ave', 'Larrabee St & Oak St',
       'Larrabee St & Webster Ave', 'Latrobe Ave & Chicago Ave',
       'Lawndale Ave & 111th St', 'Leavitt St & Addison St',
       'Leavitt St & Archer Ave', 'Leavitt St & Armitage Ave',
       'Leavitt St & Belmont Ave', 'Leavitt St & Chicago Ave',
       'Leavitt St & Division St', 'Leavitt St & Lawrence Ave',
       'Leavitt St & North Ave', 'Lincoln Ave & Addison St',
       'Lincoln Ave & Belle Plaine Ave', 'Lincoln Ave & Belmont Ave',
       'Lincoln Ave & Belmont Ave (Temp)', 'Lincoln Ave & Diversey Pkwy',
       'Lincoln Ave & Fullerton Ave', 'Lincoln Ave & Roscoe St',
       'Lincoln Ave & Sunnyside Ave', 'Lincoln Ave & Waveland Ave',
       'Lincoln Ave & Winona St', 'Lincoln Park Conservatory',
       'Lincolnwood Dr & Central St', 'Logan Blvd & Elston Ave',
       'Loomis Blvd & 84th St', 'Loomis St & 89th St',
       'Loomis St & Archer Ave', 'Loomis St & Jackson Blvd',
       'Loomis St & Lexington St', 'MLK Jr Dr & 29th St',
       'MLK Jr Dr & 47th St', 'MLK Jr Dr & 56th St',
       'MLK Jr Dr & 63rd St', 'MLK Jr Dr & 83rd St',
       'MLK Jr Dr & Pershing Rd', 'Major Taylor Trail & 115th St',
       'Major Taylor Trail & 124th St', 'Malcolm X College',
       'Malcolm X College Vaccination Site', 'Manor Ave & Leland Ave',
       'Maplewood Ave & Peterson Ave', 'Marine Dr & Ainslie St',
       'Marquette Ave & 89th St', 'Marshfield Ave & 59th St',
       'May St & 69th St', 'May St & Cullerton St', 'May St & Taylor St',
       'McClurg Ct & Erie St', 'McClurg Ct & Ohio St', 'McCormick Place',
       'Michigan Ave & 114th St', 'Michigan Ave & 14th St',
       'Michigan Ave & 18th St', 'Michigan Ave & 71st St',
       'Michigan Ave & 8th St', 'Michigan Ave & Ida B Wells Dr',
       'Michigan Ave & Jackson Blvd', 'Michigan Ave & Lake St',
       'Michigan Ave & Madison St', 'Michigan Ave & Oak St',
       'Michigan Ave & Pearson St', 'Michigan Ave & Washington St',
       'Mies van der Rohe Way & Chestnut St',
       'Mies van der Rohe Way & Chicago Ave', 'Millard Ave & 26th St',
       'Millennium Park', 'Milwaukee Ave & Cuyler Ave',
       'Milwaukee Ave & Grand Ave', 'Milwaukee Ave & Rockwell St',
       'Milwaukee Ave & Wabansia Ave', 'Monticello Ave & Irving Park Rd',
       'Montrose Harbor', 'Morgan Ave & 14th Pl', 'Morgan St & 18th St',
       'Morgan St & 31st St', 'Morgan St & Lake St',
       'Morgan St & Pershing Rd', 'Morgan St & Polk St',
       'Museum of Science and Industry', 'New St & Illinois St',
       'Noble St & Milwaukee Ave', 'Normal Ave & Archer Ave',
       'Oakley Ave & Irving Park Rd', 'Oakley Ave & Touhy Ave',
       'Ogden Ave & Chicago Ave', 'Ogden Ave & Congress Pkwy',
       'Ogden Ave & Race Ave', 'Ogden Ave & Roosevelt Rd',
       'Oglesby Ave & 100th St', 'Olive Harvey College',
       'Orleans St & Chestnut St (NEXT Apts)', 'Orleans St & Elm St',
       'Orleans St & Hubbard St', 'Orleans St & Merchandise Mart Plaza',
       'Paulina Ave & North Ave', 'Paulina St & 18th St',
       'Paulina St & Flournoy St', 'Paulina St & Howard St',
       'Paulina St & Montrose Ave', 'Peoria St & Jackson Blvd',
       'Perry Ave & 69th St', 'Phillips Ave & 79th St',
       'Phillips Ave & 83rd St', 'Pine Grove Ave & Irving Park Rd',
       'Pine Grove Ave & Waveland Ave', 'Prairie Ave & 43rd St',
       'Prairie Ave & Garfield Blvd', 'Princeton Ave & 47th St',
       'Princeton Ave & Garfield Blvd', 'Prospect Sq & 91st St',
       'Pulaski Rd & Congress Pkwy', 'Pulaski Rd & Eddy St (Temp)',
       'Pulaski Rd & Lake St', 'Racine Ave & 13th St',
       'Racine Ave & 15th St', 'Racine Ave & 18th St',
       'Racine Ave & 35th St', 'Racine Ave & 61st St',
       'Racine Ave & 65th St', 'Racine Ave & Belmont Ave',
       'Racine Ave & Congress Pkwy', 'Racine Ave & Fullerton Ave',
       'Racine Ave & Fullerton Ave (Temp)', 'Racine Ave & Garfield Blvd',
       'Racine Ave & Randolph St', 'Racine Ave & Washington Blvd',
       'Racine Ave & Wrightwood Ave', 'Rainbow Beach',
       'Ravenswood Ave & Berteau Ave', 'Ravenswood Ave & Irving Park Rd',
       'Ravenswood Ave & Lawrence Ave', 'Rhodes Ave & 32nd St',
       'Rhodes Ave & 71st St', 'Richmond St & Diversey Ave',
       'Ridge Blvd & Howard St', 'Ridge Blvd & Touhy Ave',
       'Ritchie Ct & Banks St', 'Rockwell St & Eastwood Ave',
       'Rush St & Cedar St', 'Rush St & Hubbard St',
       'Rush St & Superior St', 'Sacramento Blvd & Franklin Blvd',
       'Sangamon St & Lake St', 'Sangamon St & Washington Blvd',
       'Sawyer Ave & Irving Park Rd', 'Sedgwick St & Huron St',
       'Sedgwick St & North Ave', 'Sedgwick St & Schiller St',
       'Sedgwick St & Webster Ave', 'Seeley Ave & Garfield Blvd',
       'Seeley Ave & Roscoe St', 'Shedd Aquarium',
       'Sheffield Ave & Fullerton Ave', 'Sheffield Ave & Kingsbury St',
       'Sheffield Ave & Waveland Ave', 'Sheffield Ave & Webster Ave',
       'Sheffield Ave & Wellington Ave', 'Sheffield Ave & Willow St',
       'Sheffield Ave & Wrightwood Ave', 'Sheridan Rd & Argyle St',
       'Sheridan Rd & Buena Ave', 'Sheridan Rd & Columbia Ave',
       'Sheridan Rd & Greenleaf Ave', 'Sheridan Rd & Irving Park Rd',
       'Sheridan Rd & Lawrence Ave', 'Sheridan Rd & Loyola Ave',
       'Sheridan Rd & Montrose Ave', 'Sheridan Rd & Noyes St (NU)',
       'Shields Ave & 28th Pl', 'Shields Ave & 31st St',
       'Shields Ave & 43rd St', 'Shore Dr & 55th St', 'Smith Park',
       'South Chicago Ave & 83rd St', 'South Chicago Ave & Elliot Ave',
       'South Shore Dr & 67th St', 'South Shore Dr & 71st St',
       'South Shore Dr & 74th St', 'Southport Ave & Belmont Ave',
       'Southport Ave & Clark St', 'Southport Ave & Clybourn Ave',
       'Southport Ave & Irving Park Rd', 'Southport Ave & Roscoe St',
       'Southport Ave & Waveland Ave', 'Southport Ave & Wellington Ave',
       'Southport Ave & Wrightwood Ave', 'Spaulding Ave & Armitage Ave',
       'Spaulding Ave & Division St', 'St. Clair St & Erie St',
       'St. Louis Ave & Balmoral Ave', 'St. Louis Ave & Fullerton Ave',
       'State St & 123rd St', 'State St & 19th St', 'State St & 29th St',
       'State St & 33rd St', 'State St & 35th St', 'State St & 54th St',
       'State St & 76th St', 'State St & 79th St', 'State St & 95th St',
       'State St & Chicago Ave', 'State St & Harrison St',
       'State St & Kinzie St', 'State St & Pearson St',
       'State St & Pershing Rd', 'State St & Randolph St',
       'State St & Van Buren St', 'Stave St & Armitage Ave',
       'Stetson Ave & South Water St', 'Stewart Ave & 63rd St',
       'Stewart Ave & 83rd St', 'Stockton Dr & Wrightwood Ave',
       'Stony Island Ave & 64th St', 'Stony Island Ave & 67th St',
       'Stony Island Ave & 71st St', 'Stony Island Ave & 75th St',
       'Stony Island Ave & 82nd St', 'Stony Island Ave & 90th St',
       'Stony Island Ave & South Chicago Ave', 'Streeter Dr & Grand Ave',
       'Talman Ave & Addison St', 'Theater on the Lake',
       'Throop St & 52nd St', 'Throop St & Taylor St',
       'Torrence Ave & 106th St', 'Torrence Ave & 126th Pl',
       'Troy St & Elston Ave', 'Troy St & North Ave',
       'Union Ave & Root St', 'University Ave & 57th St',
       'University Library (NU)', 'Valli Produce - Evanston Plaza',
       'Vernon Ave & 107th St', 'Vernon Ave & 75th St',
       'Vernon Ave & 79th St', 'Vincennes Ave & 104th St',
       'Vincennes Ave & 75th St', 'Wabash Ave & 16th St',
       'Wabash Ave & 83rd St', 'Wabash Ave & 87th St',
       'Wabash Ave & 9th St', 'Wabash Ave & Adams St',
       'Wabash Ave & Cermak Rd', 'Wabash Ave & Grand Ave',
       'Wabash Ave & Roosevelt Rd', 'Wabash Ave & Wacker Pl',
       'Wacker Dr & Washington St', 'Walden Pkwy & 100th St',
       'Wallace St & 35th St', 'Walsh Park', 'Warren Park East',
       'Warren Park West', 'Washtenaw Ave & Lawrence Ave',
       'Washtenaw Ave & Ogden Ave', 'Wells St & 19th St',
       'Wells St & Concord Ln', 'Wells St & Elm St',
       'Wells St & Evergreen Ave', 'Wells St & Hubbard St',
       'Wells St & Huron St', 'Wells St & Polk St',

In [12]:
# check start stations for classic bikes
df[df['rideable_type']=='classic_bike']['start_station_name'].sort_values().unique()

array(['2112 W Peterson Ave', '63rd St Beach', '900 W Harrison St',
       'Aberdeen St & Jackson Blvd', 'Aberdeen St & Monroe St',
       'Aberdeen St & Randolph St', 'Ada St & 113th St',
       'Ada St & Washington Blvd', 'Adler Planetarium',
       'Albany Ave & 26th St', 'Albany Ave & Bloomingdale Ave',
       'Albany Ave & Montrose Ave', 'Altgeld Gardens',
       'Archer (Damen) Ave & 37th St', 'Artesian Ave & Hubbard St',
       'Ashland Ave & 13th St', 'Ashland Ave & 50th St',
       'Ashland Ave & 63rd St', 'Ashland Ave & 66th St',
       'Ashland Ave & 74th St', 'Ashland Ave & 78th St',
       'Ashland Ave & Archer Ave', 'Ashland Ave & Augusta Blvd',
       'Ashland Ave & Belle Plaine Ave', 'Ashland Ave & Blackhawk St',
       'Ashland Ave & Chicago Ave', 'Ashland Ave & Division St',
       'Ashland Ave & Garfield Blvd', 'Ashland Ave & Grace St',
       'Ashland Ave & Grand Ave', 'Ashland Ave & Lake St',
       'Ashland Ave & McDowell Ave', 'Ashland Ave & Pershing Rd',
       'Ashland Ave & Wellington Ave', 'Ashland Ave & Wrightwood Ave',
       'Austin Blvd & Chicago Ave', 'Austin Blvd & Lake St',
       'Austin Blvd & Madison St', 'Avenue O & 118th St',
       'Avenue O & 134th St', 'Avers Ave & Belmont Ave',
       'Avondale Ave & Irving Park Rd', 'Baltimore Ave & 87th St',
       'Base - 2132 W Hubbard', 'Base - 2132 W Hubbard Warehouse',
       'Bennett Ave & 79th St', 'Benson Ave & Church St',
       'Bernard St & Elston Ave', 'Big Marsh Park',
       'Bissell St & Armitage Ave',
       'Bissell St & Armitage Ave - Charging',
       'Bissell St & Armitage Ave*', 'Blackstone Ave & Hyde Park Blvd',
       'Blue Island Ave & 18th St', 'Bosworth Ave & Howard St',
       'Bradley Park', 'Broadway & Argyle St', 'Broadway & Barry Ave',
       'Broadway & Belmont Ave', 'Broadway & Berwyn Ave',
       'Broadway & Cornelia Ave', 'Broadway & Granville Ave',
       'Broadway & Ridge Ave', 'Broadway & Sheridan Rd',
       'Broadway & Thorndale Ave', 'Broadway & Waveland Ave',
       'Broadway & Wilson - Truman College Vaccination Site',
       'Broadway & Wilson Ave', 'Buckingham Fountain',
       'Buckingham Fountain (Temp)', 'Budlong Woods Library',
       'Burling St & Diversey Pkwy', 'Burnham Greenway & 105th St',
       'Burnham Greenway & 112th St', 'Burnham Harbor',
       'California Ave & 21st St', 'California Ave & 23rd Pl',
       'California Ave & 26th St', 'California Ave & Altgeld St',
       'California Ave & Byron St', 'California Ave & Cortez St',
       'California Ave & Division St', 'California Ave & Fletcher St',
       'California Ave & Francis Pl (Temp)', 'California Ave & Lake St',
       'California Ave & Milwaukee Ave', 'California Ave & Montrose Ave',
       'California Ave & North Ave', 'Calumet Ave & 18th St',
       'Calumet Ave & 21st St', 'Calumet Ave & 33rd St',
       'Calumet Ave & 35th St', 'Calumet Ave & 51st St',
       'Calumet Ave & 71st St', 'Calumet Park',
       'Campbell Ave & Fullerton Ave', 'Campbell Ave & Montrose Ave',
       'Campbell Ave & North Ave', 'Canal St & Adams St',
       'Canal St & Harrison St', 'Canal St & Jackson Blvd',
       'Canal St & Madison St', 'Canal St & Monroe St',
       'Canal St & Taylor St', 'Cannon Dr & Fullerton Ave',
       'Carpenter St & 63rd St', 'Carpenter St & Huron St',
       'Central Ave & Chicago Ave', 'Central Ave & Harrison St',
       'Central Ave & Lake St', 'Central Ave & Madison St',
       'Central Park Ave & 24th St',
       'Central Park Ave & Bloomingdale Ave',
       'Central Park Ave & Elbridge Ave', 'Central Park Ave & North Ave',
       'Central Park Ave & Ogden Ave', 'Central Park Blvd & 5th Ave',
       'Central St & Girard Ave', 'Central St Metra',
       'Cherry Ave & Blackhawk St', 'Chicago Ave & Sheridan Rd',
       'Chicago Ave & Washington St', 'Chicago State University',
       'Christiana Ave & Lawrence Ave', 'Cicero Ave & Flournoy St',
       'Cicero Ave & Lake St', 'Cicero Ave & Quincy St',
       'Cityfront Plaza Dr & Pioneer Ct', 'Claremont Ave & Hirsch St',
       'Clarendon Ave & Gordon Ter', 'Clarendon Ave & Junior Ter',
       'Clarendon Ave & Leland Ave', 'Clark St & 9th St (AMLI)',
       'Clark St & Armitage Ave', 'Clark St & Berwyn Ave',
       'Clark St & Bryn Mawr Ave', 'Clark St & Chicago Ave',
       'Clark St & Columbia Ave', 'Clark St & Drummond Pl',
       'Clark St & Elm St', 'Clark St & Elmdale Ave',
       'Clark St & Grace St', 'Clark St & Ida B Wells Dr',
       'Clark St & Jarvis Ave', 'Clark St & Lake St',
       'Clark St & Leland Ave', 'Clark St & Lincoln Ave',
       'Clark St & Lunt Ave', 'Clark St & Montrose Ave',
       'Clark St & Newport St', 'Clark St & North Ave',
       'Clark St & Randolph St', 'Clark St & Schiller St',
       'Clark St & Schreiber Ave', 'Clark St & Touhy Ave',
       'Clark St & Wellington Ave', 'Clark St & Winnemac Ave',
       'Clark St & Wrightwood Ave', 'Clifton Ave & Armitage Ave',
       'Clinton St & 18th St', 'Clinton St & Jackson Blvd',
       'Clinton St & Lake St', 'Clinton St & Madison St',
       'Clinton St & Polk St', 'Clinton St & Roosevelt Rd',
       'Clinton St & Tilden St', 'Clinton St & Washington Blvd',
       'Clybourn Ave & Division St', 'Clyde Ave & 87th St',
       'Columbus Dr & Randolph St', 'Commercial Ave & 100th St',
       'Commercial Ave & 130th St', 'Commercial Ave & 83rd St',
       'Conservatory Dr & Lake St', 'Constance Ave & 95th St',
       'Cornell Ave & Hyde Park Blvd', 'Cornell Dr & Hayes Dr',
       'Cottage Grove Ave & 111th Pl', 'Cottage Grove Ave & 43rd St',
       'Cottage Grove Ave & 47th St', 'Cottage Grove Ave & 51st St',
       'Cottage Grove Ave & 63rd St', 'Cottage Grove Ave & 67th St',
       'Cottage Grove Ave & 71st St', 'Cottage Grove Ave & 78th St',
       'Cottage Grove Ave & 83rd St', 'Cottage Grove Ave & Oakwood Blvd',
       'Daley Center Plaza', 'Damen Ave & 51st St', 'Damen Ave & 59th St',
       'Damen Ave & 74th St', 'Damen Ave & Charleston St',
       'Damen Ave & Chicago Ave', 'Damen Ave & Clybourn Ave',
       'Damen Ave & Cortland St', 'Damen Ave & Coulter St',
       'Damen Ave & Cullerton St', 'Damen Ave & Division St',
       'Damen Ave & Foster Ave', 'Damen Ave & Grand Ave',
       'Damen Ave & Leland Ave', 'Damen Ave & Madison St',
       'Damen Ave & Melrose Ave', 'Damen Ave & Pershing Rd',
       'Damen Ave & Pierce Ave', 'Damen Ave & Sunnyside Ave',
       'Damen Ave & Thomas St (Augusta Blvd)',
       'Damen Ave & Walnut (Lake) St', 'Damen Ave & Wellington Ave',
       'Dauphin Ave & 103rd St', 'Dauphin Ave & 87th St',
       'Dayton St & North Ave', 'Dearborn Pkwy & Delaware Pl',
       'Dearborn St & Adams St', 'Dearborn St & Erie St',
       'Dearborn St & Monroe St', 'Dearborn St & Van Buren St',
       'Delano Ct & Roosevelt Rd', 'Desplaines St & Jackson Blvd',
       'Desplaines St & Kinzie St', 'Desplaines St & Randolph St',
       'Divvy Valet - Oakwood Beach', 'Dodge Ave & Church St',
       'Dodge Ave & Main St', 'Dodge Ave & Mulford St',
       'Dorchester Ave & 49th St', 'Dorchester Ave & 63rd St',
       'Doty Ave & 111th St', 'Drake Ave & Addison St',
       'Drake Ave & Montrose Ave', 'DuSable Lake Shore Dr & Belmont Ave',
       'DuSable Lake Shore Dr & Diversey Pkwy',
       'DuSable Lake Shore Dr & Monroe St',
       'DuSable Lake Shore Dr & North Blvd',
       'DuSable Lake Shore Dr & Ohio St',
       'DuSable Lake Shore Dr & Wellington Ave', 'DuSable Museum',
       'Dusable Harbor', 'East End Ave & 87th St',
       'Eastlake Ter & Howard St', 'Eastlake Ter & Rogers Ave',
       'Eberhart Ave & 131st St', 'Eberhart Ave & 61st St',
       'Eberhart Ave & 91st St', 'Eckhart Park',
       'Eggleston Ave & 69th St', 'Eggleston Ave & 92nd St',
       'Elizabeth (May) St & Fulton St', 'Elizabeth St & 47th St',
       'Elizabeth St & 59th St', 'Elizabeth St & 92nd St',
       'Elizabeth St & Fulton St', 'Ellis Ave & 53rd St',
       'Ellis Ave & 55th St', 'Ellis Ave & 58th St',
       'Ellis Ave & 60th St', 'Ellis Ave & 83rd St',
       'Elmwood Ave & Austin St', 'Elston Ave & Cortland St',
       'Elston Ave & Wabansia Ave', 'Emerald Ave & 28th St',
       'Emerald Ave & 31st St', 'Evans Ave & 75th St',
       'Evanston Civic Center', 'Ewing Ave & Burnham Greenway',
       'Exchange Ave & 79th St', 'Fairbanks Ct & Grand Ave',
       'Fairbanks St & Superior St', 'Fairfield Ave & Roosevelt Rd',
       'Federal St & Polk St', 'Field Blvd & South Water St',
       'Field Museum', 'Financial Pl & Ida B Wells Dr',
       'Fort Dearborn Dr & 31st St', 'Francisco Ave & Foster Ave',
       'Franklin St & Adams St (Temp)', 'Franklin St & Chicago Ave',
       'Franklin St & Illinois St', 'Franklin St & Jackson Blvd',
       'Franklin St & Lake St', 'Franklin St & Monroe St',
       'Glenwood Ave & Morse Ave', 'Glenwood Ave & Touhy Ave',
       'Green St & Madison St', 'Green St & Randolph St',
       'Green St & Randolph St*', 'Green St & Washington Blvd',
       'Greenview Ave & Diversey Pkwy', 'Greenview Ave & Fullerton Ave',
       'Greenview Ave & Jarvis Ave', 'Greenwood Ave & 47th St',
       'Greenwood Ave & 79th St', 'Greenwood Ave & 91st St',
       'Greenwood Ave & 97th St', 'Hale Ave & 107th St',
       'Halsted & 63rd - Kennedy-King Vaccination Site',
       'Halsted St & 104th St', 'Halsted St & 111th St',
       'Halsted St & 18th St', 'Halsted St & 18th St (Temp)',
       'Halsted St & 21st St', 'Halsted St & 35th St',
       'Halsted St & 37th St', 'Halsted St & 47th Pl',
       'Halsted St & 51st St', 'Halsted St & 56th St',
       'Halsted St & 59th St', 'Halsted St & 63rd St',
       'Halsted St & 69th St', 'Halsted St & 73rd St',
       'Halsted St & 78th St', 'Halsted St & 96th St',
       'Halsted St & Archer Ave', 'Halsted St & Clybourn Ave',
       'Halsted St & Dickens Ave', 'Halsted St & Maxwell St',
       'Halsted St & North Branch St', 'Halsted St & Polk St',
       'Halsted St & Roosevelt Rd', 'Halsted St & Roscoe St',
       'Halsted St & Willow St', 'Halsted St & Wrightwood Ave',
       'Harper Ave & 59th St', 'Hegewisch Metra Station',
       'Hermitage Ave & Polk St', 'Homewood Ave & 115th St',
       'Honore St & Division St', 'Houston Ave & 92nd St',
       'Hoyne Ave & 47th St', 'Hoyne Ave & Balmoral Ave',
       'Humboldt Blvd & Armitage Ave', 'Indiana Ave & 103rd St',
       'Indiana Ave & 26th St', 'Indiana Ave & 31st St',
       'Indiana Ave & 40th St', 'Indiana Ave & Roosevelt Rd',
       'Jefferson St & Monroe St', 'Jeffery Blvd & 67th St',
       'Jeffery Blvd & 71st St', 'Jeffery Blvd & 76th St',
       'Karlov Ave & Madison St', 'Kedzie Ave & 110th St',
       'Kedzie Ave & 21st St', 'Kedzie Ave & 24th St',
       'Kedzie Ave & Bryn Mawr Ave', 'Kedzie Ave & Chicago Ave',
       'Kedzie Ave & Foster Ave', 'Kedzie Ave & Harrison St',
       'Kedzie Ave & Lake St', 'Kedzie Ave & Leland Ave',
       'Kedzie Ave & Milwaukee Ave', 'Kedzie Ave & Palmer Ct',
       'Kedzie Ave & Roosevelt Rd', 'Kenton Ave & Madison St',
       'Keystone Ave & Fullerton Ave', 'Keystone Ave & Montrose Ave',
       'Kilbourn Ave & Irving Park Rd', 'Kilbourn Ave & Milwaukee Ave',
       'Kildare Ave & Montrose Ave', 'Kimball Ave & Belmont Ave',
       'Kimbark Ave & 53rd St', 'Kingsbury St & Erie St',
       'Kingsbury St & Kinzie St', 'Knox Ave & Montrose Ave',
       'Kosciuszko Park', 'Kostner Ave & Adams St',
       'Kostner Ave & Lake St', 'LaSalle Dr & Huron St',
       'LaSalle St & Adams St', 'LaSalle St & Illinois St',
       'LaSalle St & Jackson Blvd', 'LaSalle St & Washington St',
       'Laflin St & Cullerton St', 'Lake Park Ave & 35th St',
       'Lake Park Ave & 47th St', 'Lake Park Ave & 53rd St',
       'Lake Park Ave & 56th St', 'Lakefront Trail & Bryn Mawr Ave',
       'Lakefront Trail & Wilson Ave', 'Lakeview Ave & Fullerton Pkwy',
       'Laramie Ave & Gladys Ave', 'Laramie Ave & Kinzie St',
       'Laramie Ave & Madison St', 'Larrabee St & Armitage Ave',
       'Larrabee St & Division St', 'Larrabee St & Kingsbury St',
       'Larrabee St & Menomonee St', 'Larrabee St & North Ave',
       'Larrabee St & Oak St', 'Larrabee St & Webster Ave',
       'Latrobe Ave & Chicago Ave', 'Lawndale Ave & 111th St',
       'Leavitt St & Addison St', 'Leavitt St & Archer Ave',
       'Leavitt St & Armitage Ave', 'Leavitt St & Belmont Ave',
       'Leavitt St & Chicago Ave', 'Leavitt St & Division St',
       'Leavitt St & Lawrence Ave', 'Leavitt St & North Ave',
       'Lincoln Ave & Addison St', 'Lincoln Ave & Belle Plaine Ave',
       'Lincoln Ave & Belmont Ave', 'Lincoln Ave & Belmont Ave (Temp)',
       'Lincoln Ave & Diversey Pkwy', 'Lincoln Ave & Fullerton Ave',
       'Lincoln Ave & Roscoe St', 'Lincoln Ave & Roscoe St - Charging',
       'Lincoln Ave & Roscoe St*', 'Lincoln Ave & Sunnyside Ave',
       'Lincoln Ave & Waveland Ave', 'Lincoln Ave & Winona St',
       'Lincoln Park Conservatory', 'Lincolnwood Dr & Central St',
       'Logan Blvd & Elston Ave', 'Loomis Blvd & 84th St',
       'Loomis St & 89th St', 'Loomis St & Archer Ave',
       'Loomis St & Jackson Blvd', 'Loomis St & Lexington St',
       'MLK Jr Dr & 29th St', 'MLK Jr Dr & 47th St',
       'MLK Jr Dr & 56th St', 'MLK Jr Dr & 63rd St',
       'MLK Jr Dr & 83rd St', 'MLK Jr Dr & Pershing Rd',
       'Major Taylor Trail & 115th St', 'Major Taylor Trail & 124th St',
       'Malcolm X College', 'Malcolm X College Vaccination Site',
       'Manor Ave & Leland Ave', 'Maplewood Ave & Peterson Ave',
       'Marine Dr & Ainslie St', 'Marquette Ave & 89th St',
       'Marshfield Ave & 44th St', 'Marshfield Ave & 59th St',
       'May St & 69th St', 'May St & Cullerton St', 'May St & Taylor St',
       'McClurg Ct & Erie St', 'McClurg Ct & Ohio St', 'McCormick Place',
       'Michigan Ave & 114th St', 'Michigan Ave & 14th St',
       'Michigan Ave & 18th St', 'Michigan Ave & 71st St',
       'Michigan Ave & 8th St', 'Michigan Ave & Ida B Wells Dr',
       'Michigan Ave & Jackson Blvd', 'Michigan Ave & Lake St',
       'Michigan Ave & Madison St', 'Michigan Ave & Oak St',
       'Michigan Ave & Pearson St', 'Michigan Ave & Washington St',
       'Mies van der Rohe Way & Chestnut St',
       'Mies van der Rohe Way & Chicago Ave', 'Millard Ave & 26th St',
       'Millennium Park', 'Milwaukee Ave & Cuyler Ave',
       'Milwaukee Ave & Grand Ave', 'Milwaukee Ave & Rockwell St',
       'Milwaukee Ave & Wabansia Ave', 'Monticello Ave & Irving Park Rd',
       'Montrose Harbor', 'Morgan Ave & 14th Pl', 'Morgan St & 18th St',
       'Morgan St & 31st St', 'Morgan St & Lake St',
       'Morgan St & Lake St*', 'Morgan St & Pershing Rd',
       'Morgan St & Polk St', 'Museum of Science and Industry',
       'New St & Illinois St', 'Noble St & Milwaukee Ave',
       'Normal Ave & Archer Ave', 'Oakley Ave & Irving Park Rd',
       'Oakley Ave & Touhy Ave', 'Ogden Ave & Chicago Ave',
       'Ogden Ave & Congress Pkwy', 'Ogden Ave & Race Ave',
       'Ogden Ave & Roosevelt Rd', 'Oglesby Ave & 100th St',
       'Olive Harvey College', 'Orleans St & Chestnut St (NEXT Apts)',
       'Orleans St & Elm St', 'Orleans St & Hubbard St',
       'Orleans St & Merchandise Mart Plaza', 'Paulina Ave & North Ave',
       'Paulina St & 18th St', 'Paulina St & Flournoy St',
       'Paulina St & Howard St', 'Paulina St & Montrose Ave',
       'Peoria St & Jackson Blvd', 'Perry Ave & 69th St',
       'Phillips Ave & 79th St', 'Phillips Ave & 83rd St',
       'Pine Grove Ave & Irving Park Rd', 'Pine Grove Ave & Waveland Ave',
       'Prairie Ave & 43rd St', 'Prairie Ave & Garfield Blvd',
       'Princeton Ave & 47th St', 'Princeton Ave & Garfield Blvd',
       'Prospect Sq & 91st St', 'Pulaski Rd & Congress Pkwy',
       'Pulaski Rd & Eddy St (Temp)', 'Pulaski Rd & Lake St',
       'Racine Ave & 13th St', 'Racine Ave & 15th St',
       'Racine Ave & 18th St', 'Racine Ave & 35th St',
       'Racine Ave & 61st St', 'Racine Ave & 65th St',
       'Racine Ave & Belmont Ave', 'Racine Ave & Congress Pkwy',
       'Racine Ave & Fullerton Ave', 'Racine Ave & Fullerton Ave (Temp)',
       'Racine Ave & Garfield Blvd', 'Racine Ave & Randolph St',
       'Racine Ave & Washington Blvd', 'Racine Ave & Wrightwood Ave',
       'Rainbow Beach', 'Ravenswood Ave & Berteau Ave',
       'Ravenswood Ave & Irving Park Rd', 'Ravenswood Ave & Lawrence Ave',
       'Rhodes Ave & 32nd St', 'Rhodes Ave & 71st St',
       'Richmond St & Diversey Ave', 'Ridge Blvd & Howard St',
       'Ridge Blvd & Touhy Ave', 'Ritchie Ct & Banks St',
       'Rockwell St & Eastwood Ave', 'Rush St & Cedar St',
       'Rush St & Hubbard St', 'Rush St & Superior St',
       'Sacramento Blvd & Franklin Blvd', 'Sangamon St & Lake St',
       'Sangamon St & Washington Blvd', 'Sawyer Ave & Irving Park Rd',
       'Sedgwick St & Huron St', 'Sedgwick St & North Ave',
       'Sedgwick St & Schiller St', 'Sedgwick St & Webster Ave',
       'Seeley Ave & Garfield Blvd', 'Seeley Ave & Roscoe St',
       'Shedd Aquarium', 'Sheffield Ave & Fullerton Ave',
       'Sheffield Ave & Kingsbury St', 'Sheffield Ave & Waveland Ave',
       'Sheffield Ave & Webster Ave', 'Sheffield Ave & Wellington Ave',
       'Sheffield Ave & Willow St', 'Sheffield Ave & Wrightwood Ave',
       'Sheridan Rd & Argyle St', 'Sheridan Rd & Buena Ave',
       'Sheridan Rd & Columbia Ave', 'Sheridan Rd & Greenleaf Ave',
       'Sheridan Rd & Irving Park Rd', 'Sheridan Rd & Lawrence Ave',
       'Sheridan Rd & Loyola Ave', 'Sheridan Rd & Montrose Ave',
       'Sheridan Rd & Noyes St (NU)', 'Shields Ave & 28th Pl',
       'Shields Ave & 31st St', 'Shields Ave & 43rd St',
       'Shore Dr & 55th St', 'Smith Park', 'South Chicago Ave & 83rd St',
       'South Chicago Ave & Elliot Ave', 'South Shore Dr & 67th St',
       'South Shore Dr & 71st St', 'South Shore Dr & 74th St',
       'Southport Ave & Belmont Ave', 'Southport Ave & Clark St',
       'Southport Ave & Clybourn Ave', 'Southport Ave & Irving Park Rd',
       'Southport Ave & Roscoe St', 'Southport Ave & Waveland Ave',
       'Southport Ave & Wellington Ave', 'Southport Ave & Wrightwood Ave',
       'Spaulding Ave & Armitage Ave', 'Spaulding Ave & Division St',
       'St. Clair St & Erie St', 'St. Louis Ave & Balmoral Ave',
       'St. Louis Ave & Fullerton Ave', 'State St & 123rd St',
       'State St & 19th St', 'State St & 29th St', 'State St & 33rd St',
       'State St & 35th St', 'State St & 54th St', 'State St & 76th St',
       'State St & 79th St', 'State St & 95th St',
       'State St & Chicago Ave', 'State St & Harrison St',
       'State St & Kinzie St', 'State St & Pearson St',
       'State St & Pershing Rd', 'State St & Randolph St',
       'State St & Van Buren St', 'Stave St & Armitage Ave',
       'Stetson Ave & South Water St', 'Stewart Ave & 63rd St',
       'Stewart Ave & 83rd St', 'Stockton Dr & Wrightwood Ave',
       'Stony Island Ave & 64th St', 'Stony Island Ave & 67th St',
       'Stony Island Ave & 71st St', 'Stony Island Ave & 75th St',
       'Stony Island Ave & 82nd St', 'Stony Island Ave & 90th St',
       'Stony Island Ave & South Chicago Ave', 'Streeter Dr & Grand Ave',
       'Summit Ave & 86th St', 'Talman Ave & Addison St',
       'Theater on the Lake', 'Throop St & 52nd St',
       'Throop St & Taylor St', 'Torrence Ave & 106th St',
       'Torrence Ave & 126th Pl', 'Troy St & Elston Ave',
       'Troy St & North Ave', 'Union Ave & Root St',
       'University Ave & 57th St', 'University Library (NU)',
       'Valli Produce - Evanston Plaza', 'Vernon Ave & 107th St',
       'Vernon Ave & 75th St', 'Vernon Ave & 79th St',
       'Vincennes Ave & 104th St', 'Vincennes Ave & 75th St',
       'Wabash Ave & 16th St', 'Wabash Ave & 83rd St',
       'Wabash Ave & 87th St', 'Wabash Ave & 9th St',
       'Wabash Ave & Adams St', 'Wabash Ave & Cermak Rd',
       'Wabash Ave & Grand Ave', 'Wabash Ave & Roosevelt Rd',
       'Wabash Ave & Wacker Pl', 'Wacker Dr & Washington St',

Looking through [Divvy's Twitter feed](https://twitter.com/DivvyBikes) after electric bikes were introduced, there are many posts about new electric bike stations being introduced, and it seems that none of them are listed in the stations where "classic" or "docked" bikes are picked up from. For example, [N Carpenter St & W Lake St](https://twitter.com/DivvyBikes/status/1338954379353673728) is listed as an E-station, and no classic/docked bikes were picked from here in the past year.

In [13]:
# check for electric bikes parked at N Carpenter St & W Lake St
df[(df['rideable_type']=='electric_bike') & (df['start_station_name']=='N Carpenter St & W Lake St')]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2974,38C0FAF4EDDDCBB3,electric_bike,2021-11-23 17:12:03,2021-11-23 17:16:04,N Carpenter St & W Lake St,20251.0,Ogden Ave & Race Ave,13194,41.89,-87.65,41.891784,-87.658925,member
3905,8B3732C51A0E62FD,electric_bike,2021-11-06 17:34:57,2021-11-06 17:47:30,N Carpenter St & W Lake St,20251.0,State St & Randolph St,TA1305000029,41.89,-87.65,41.884461,-87.628197,casual
5659,F41E2AA0AD08E512,electric_bike,2021-11-08 12:52:28,2021-11-08 12:57:44,N Carpenter St & W Lake St,20251.0,NaN,NaN,41.89,-87.65,41.870000,-87.650000,member
5688,3E4A13BAC8DE1675,electric_bike,2021-11-08 17:57:09,2021-11-08 18:02:32,N Carpenter St & W Lake St,20251.0,NaN,NaN,41.89,-87.65,41.880000,-87.650000,member
9100,0D2496A4230375E7,electric_bike,2021-11-05 11:12:00,2021-11-05 11:12:38,N Carpenter St & W Lake St,20251.0,Morgan St & Lake St,TA1306000015,41.89,-87.65,41.885512,-87.652492,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
535250,9F3389C11B7C3BB6,electric_bike,2022-10-24 18:23:41,2022-10-24 18:25:19,N Carpenter St & W Lake St,20251.0,Sangamon St & Lake St,TA1306000015,41.89,-87.65,41.885779,-87.651025,member
535901,294108D3F297F7B2,electric_bike,2022-10-12 14:38:32,2022-10-12 14:52:50,N Carpenter St & W Lake St,20251.0,Sedgwick St & North Ave,TA1307000038,41.89,-87.65,41.911386,-87.638677,member
553942,D2725A2707D7B95E,electric_bike,2022-10-21 13:49:12,2022-10-21 13:52:46,N Carpenter St & W Lake St,20251.0,Aberdeen St & Jackson Blvd,13157,41.89,-87.65,41.877726,-87.654787,member
553943,39E591BD67068B6E,electric_bike,2022-10-13 16:56:00,2022-10-13 17:11:16,N Carpenter St & W Lake St,20251.0,Clark St & Armitage Ave,13146,41.89,-87.65,41.918306,-87.636282,member
553944,1E7097A0027C2859,electric_bike,2022-10-07 15:39:54,2022-10-07 15:43:34,N Carpenter St & W Lake St,20251.0,Aberdeen St & Jackson Blvd,13157,41.89,-87.65,41.877726,-87.654787,member

In [14]:
# check for classic/dock bikes parked at N Carpenter St & W Lake St
df[~(df['rideable_type']=='electric_bike') & (df['start_station_name']=='N Carpenter St & W Lake St')]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

We will replace "docked_bike" with "classic_bike" in the dataset.

In [15]:
df.replace({'rideable_type':'docked_bike'},'classic_bike',inplace=True)

## Locations:
- start_station_name
- start_station_id
- end_station_name
- end_station_id
- start_lat
- start_lng
- end_lat
- end_lng

From just a quick glance of the dataset, we see that there are many null values in locational attributes. For some instances, it is ok to have a null value. Electric bikes can be parked anywhere, so we should expect that they are not always starting or ending at Divvy stations. Classic bikes on the other hand, should only be parked at Divvy stations--that is, they should not have null values for either their starting or ending position. We will take a closer look at where these attributes are null and decide what datapoints to keep.

A few things to check first before we dive in:
- if there is a lat value, is there also a lng value?
- if there is a name value, is there also an id value?

If the answers to both of these questions are yes, then we can narrow our search to just focusing on the name of the station and the lat of the station.

In [16]:
print(df[df['start_lat'].isna() & df['start_lng'].notnull()])
print(df[df['start_lat'].notnull() & df['start_lng'].isna()])
print(df[df['end_lat'].isna() & df['end_lng'].notnull()])
print(df[df['end_lat'].notnull() & df['end_lng'].isna()])

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []
Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []
Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []
Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [17]:
print(df[df['start_station_name'].isna() & df['start_station_id'].notnull()])
print(df[df['start_station_name'].notnull() & df['start_station_id'].isna()])
print(df[df['end_station_name'].isna() & df['end_station_id'].notnull()])
print(df[df['end_station_name'].notnull() & df['end_station_id'].isna()])

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []
Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []
Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []
Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

We can indeed focus our search on just station names and lat null values.

We will now check what types of bikes have null values for different positional attributes. First, we check null values for starting points:

In [18]:
# check names
df[df['start_station_name'].isna()]['rideable_type'].unique()

array(['electric_bike'], dtype=object)

In [19]:
# check lat
df[df['start_lat'].isna()]['rideable_type'].unique()

array([], dtype=object)

The null values for starting positions seem fine--only electric bikes have null values for their starting station name (which is allowed), but they always have lat/lng values (which we will need later in analysis).

Next we check null values for ending points.

In [20]:
# check names
df[df['end_station_name'].isna()]['rideable_type'].unique()

array(['electric_bike', 'classic_bike'], dtype=object)

In [21]:
# check lat
df[df['end_lat'].isna()]['rideable_type'].unique()

array(['classic_bike'], dtype=object)

We see that electric bikes may not have an end station name, but they always have an end station lat/lng--this is good and does not need fixing. We now explore the null values for classic bikes.

In [22]:
df[(df['end_station_name'].isna() | df['end_lat'].isna()) & (df['rideable_type']=='classic_bike')]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5450,B8D93992A39CE7B1,classic_bike,2021-11-06 10:04:44,2021-11-06 10:16:19,Green St & Madison St,TA1307000120,NaN,NaN,41.881892,-87.648789,41.88,-87.63,member
5523,AFF731A91A9C9440,classic_bike,2021-11-06 12:17:13,2021-11-07 12:17:04,University Library (NU),605,NaN,NaN,42.052939,-87.673447,42.05,-87.67,casual
5595,82F5BB7D74A20EBF,classic_bike,2021-11-10 16:01:10,2021-11-11 08:43:40,Cornell Ave & Hyde Park Blvd,KA1503000007,NaN,NaN,41.802406,-87.586924,41.81,-87.59,casual
5670,D66FB7A5034CD519,classic_bike,2021-11-23 11:53:36,2021-11-24 12:53:30,Laflin St & Cullerton St,13307,NaN,NaN,41.854915,-87.663560,NaN,NaN,casual
5681,FBE4695DEE1A4BF9,classic_bike,2021-11-24 20:20:36,2021-11-25 07:39:31,Laflin St & Cullerton St,13307,NaN,NaN,41.854915,-87.663560,41.87,-87.66,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
547236,8C223882E19D0AB6,classic_bike,2022-10-09 10:14:13,2022-10-10 11:14:04,Clark St & Armitage Ave,13146,NaN,NaN,41.918306,-87.636282,NaN,NaN,member
547306,E6B32143E49062FF,classic_bike,2022-10-01 04:59:23,2022-10-02 05:59:18,Sheridan Rd & Montrose Ave,TA1307000107,NaN,NaN,41.961670,-87.654640,NaN,NaN,casual
547309,3CA96CB9EC35FAA5,classic_bike,2022-10-25 00:46:50,2022-10-29 09:16:16,Rush St & Hubbard St,KA1503000044,NaN,NaN,41.890173,-87.626185,NaN,NaN,casual
547695,6B912896DA81FE98,classic_bike,2022-10-09 18:37:00,2022-10-10 19:37:00,Monticello Ave & Irving Park Rd,KA1504000139,NaN,NaN,41.954005,-87.719128,NaN,NaN,casual
547777,71844616BB3E3BE3,classic_bike,2022-10-23 18:54:28,2022-10-24 19:54:16,Aberdeen St & Jackson Blvd,13157,NaN,NaN,41.877726,-87.654787,NaN,NaN,member

In [23]:
# group nulls by month to see if this is a problem with all datasets or just a few
df[(df['end_station_name'].isna() | df['end_lat'].isna()) & (df['rideable_type']=='classic_bike')].groupby(pd.Grouper(key='started_at',freq='M')).count()

,ride_id,rideable_type,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
started_at,,,,,,,,,,,,
2021-11-30,458,458,458,458,458,0,0,458,458,267,267,458
2021-12-31,413,413,413,413,413,0,0,413,413,269,269,413
2022-01-31,388,388,388,388,388,0,0,388,388,302,302,388
2022-02-28,208,208,208,208,208,0,0,208,208,131,131,208
2022-03-31,283,283,283,283,283,0,0,283,283,17,17,283
2022-04-30,324,324,324,324,324,0,0,324,324,7,7,324
2022-05-31,734,734,734,734,734,0,0,734,734,12,12,734
2022-06-30,1079,1079,1079,1079,1079,0,0,1079,1079,24,24,1079
2022-07-31,953,953,953,953,953,0,0,953,953,6,6,953
2022-08-31,851,851,851,851,851,0,0,851,851,8,8,851
2022-09-30,731,731,731,731,731,0,0,731,731,19,19,731
2022-10-31,486,486,486,486,486,0,0,486,486,11,11,486

There are 6908 instances of null values for end position for classic and docked bikes, and it does not seem to be due to a particular dataset (defined by month) missing these values. Since these instances only account for 0.1% of the total data, we should be able to remove them from the dataset and still be able to perform a meaningful analysis.

In [24]:
df = df[~((df['end_station_name'].isna() | df['end_lat'].isna()) & (df['rideable_type']=='classic_bike'))]
df.reset_index(drop=True,inplace=True)

Finally, we will explore the lat/lng values a bit more thoroughly. The main thing we want to check is that if a two different lat/lng values are associated with the same station, then those sets of values should be close to one another. Since the reported lat/lng values may not be very precise, we are mostly looking for anything that really stands out as different from the rest.

In [25]:
# make a new datafram containing only relevant start station information for this exploration
df_start_stations = df[(df['start_station_name'].notnull()) & (df['start_lat'].notnull())][['start_station_name','start_lat','start_lng']].copy()
df_start_stations.columns = ['name','lat','lng']

In [26]:
df_start_stations

                               name        lat        lng
5             Michigan Ave & Oak St  41.900864 -87.623794
45            Michigan Ave & Oak St  41.900960 -87.623777
49         Kingsbury St & Kinzie St  41.889131 -87.638437
76          Dearborn St & Monroe St  41.880793 -87.629458
95          Dearborn St & Monroe St  41.880788 -87.629916
...                             ...        ...        ...
5748781  Clifton Ave & Armitage Ave  41.918216 -87.656936
5748782  Clifton Ave & Armitage Ave  41.918216 -87.656936
5748783     Sedgwick St & North Ave  41.911386 -87.638677
5748784     Sedgwick St & North Ave  41.911386 -87.638677
5748785     Clark St & Armitage Ave  41.918306 -87.636282

[4870609 rows x 3 columns]

In [27]:
# make a new datafram containing only relevant end station information for this exploration
df_end_stations = df[df['end_station_name'].notnull() & df['end_lat'].notnull()][['end_station_name','end_lat','end_lng']].copy()
df_end_stations.columns = ['name','lat','lng']

In [28]:
# concatenate start and end station information
df_stations = pd.concat([df_start_stations,df_end_stations])
df_stations.drop_duplicates(inplace=True)

In [29]:
# check to see that there is indeed variance in the lat/lng values
df_stations[df_stations.duplicated(subset=['name'])].sort_values('name')

                              name        lat        lng
3942480        2112 W Peterson Ave  41.991097 -87.683570
4645887        2112 W Peterson Ave  41.991159 -87.683570
3806146        2112 W Peterson Ave  41.991177 -87.683588
2062822        2112 W Peterson Ave  41.991219 -87.683610
2077783        2112 W Peterson Ave  41.991223 -87.683585
...                            ...        ...        ...
4226650       Yates Blvd & 93rd St  41.726129 -87.566370
212925        Yates Blvd & 93rd St  41.726170 -87.566260
3744493       Yates Blvd & 93rd St  41.726157 -87.566404
1512699  Yates Blvd & Exchange Ave  41.760000 -87.570000
2719950             Zapata Academy  41.840000 -87.730000

[2106481 rows x 3 columns]

In [30]:
def get_loc(coord):
    d = {}
    d['lat_mean'] = coord['lat'].mean()
    d['lat_std'] = coord['lat'].std()
    d['lng_mean'] = coord['lng'].mean()
    d['lng_std'] = coord['lng'].std()
    return pd.Series(d)

In [31]:
df_gb = df_stations.groupby('name').apply(get_loc) # gb = groupby

In [32]:
df_gb.sort_values(['lat_std','lng_std'],ascending=[False,False])

,lat_mean,lat_std,lng_mean,lng_std
name,,,,
Pawel Bialowas - Test- PBSC charging station,43.749817,2.666100,-80.738738,9.817840
DIVVY CASSETTE REPAIR MOBILE STATION,41.865848,0.076150,-87.648313,0.047251
WEST CHI-WATSON,41.883362,0.063952,-87.738881,0.044571
WestChi,41.894039,0.062494,-87.728843,0.056490
Base - 2132 W Hubbard Warehouse,41.881889,0.062482,-87.706121,0.045875
...,...,...,...,...
Wolcott Ave & 61st St,41.780000,NaN,-87.670000,NaN
Wood St & 103rd St,41.710000,NaN,-87.670000,NaN
Wood St & 47th St,41.810000,NaN,-87.670000,NaN
Woodlawn & 103rd - Olive Harvey Vaccination Site,41.710000,NaN,-87.590000,NaN
Yale Ave & 119th St,41.680000,NaN,-87.630000,NaN

One station that clearly stands out from the others is "Pawel Bialowas - Test- PBSC charging station", so we will investigate this station.

In [33]:
df[(df['start_station_name']=='Pawel Bialowas - Test- PBSC charging station') | (df['end_station_name']=='Pawel Bialowas - Test- PBSC charging station')]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
618408,3327172413547F64,electric_bike,2022-01-14 11:13:15,2022-01-14 11:15:50,Pawel Bialowas - Test- PBSC charging station,Pawel Bialowas - Test- PBSC charging station,Pawel Bialowas - Test- PBSC charging station,Pawel Bialowas - Test- PBSC charging station,45.635034,-73.796477,41.8646,-87.681,casual

This "test" station only accounts for a single data point, so we will just remove it.

In [34]:
df = df[~(df['start_station_name']=='Pawel Bialowas - Test- PBSC charging station')]
df.reset_index(drop=True,inplace=True)

## started_at / ended_at

First, we check for null values and convert to datetime.

In [35]:
df[df['started_at'].isna()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

In [36]:
df[df['ended_at'].isna()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

It would also be useful to consider the trip duration, so we will add this attribute to the dataframe.

In [37]:
df.loc[:,['trip_duration_sec']] = (df['ended_at'] - df['started_at']).dt.total_seconds()

As a sanity check, we check if there are any negative "trip_duration" values (as this would imply the "ended_at" time was before the "started_at" time--clearly an issue).

In [38]:
df[df['trip_duration_sec']<0]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration_sec
10177,B029250A1EFF2975,classic_bike,2021-11-07 01:40:02,2021-11-07 01:05:46,Halsted St & Dickens Ave,13192,Leavitt St & Division St,658,41.919936,-87.648830,41.902997,-87.683825,casual,-2056.0
11033,D631251FA9C7FC03,classic_bike,2021-11-07 01:52:53,2021-11-07 01:05:22,Clark St & Newport St,632,Racine Ave & Fullerton Ave,TA1306000026,41.944540,-87.654678,41.925563,-87.658404,member,-2851.0
12068,021DC77C70A3E367,classic_bike,2021-11-07 01:40:13,2021-11-07 01:00:29,New St & Illinois St,TA1306000013,Michigan Ave & 8th St,623,41.890847,-87.618617,41.872773,-87.623981,casual,-2384.0
23942,235ACD294AFB837F,electric_bike,2021-11-07 01:34:03,2021-11-07 01:17:13,Sheridan Rd & Lawrence Ave,TA1309000041,Damen Ave & Thomas St (Augusta Blvd),TA1307000070,41.969481,-87.654727,41.901426,-87.677428,member,-1010.0
29032,6A2DCA5CB1596CA6,classic_bike,2021-11-07 01:54:25,2021-11-07 01:03:44,Franklin St & Illinois St,RN-,Mies van der Rohe Way & Chicago Ave,13338,41.891023,-87.635480,41.896910,-87.621743,casual,-3041.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5177233,57D8340BB2C0E7B0,electric_bike,2022-09-08 16:04:03,2022-09-08 16:01:09,NaN,NaN,Milwaukee Ave & Grand Ave,13033,41.890000,-87.650000,41.891578,-87.648384,member,-174.0
5200870,F9A1F8F99C1EFBF5,electric_bike,2022-10-03 08:55:01,2022-10-03 08:54:45,Chicago Ave & Sheridan Rd,E008,Chicago Ave & Sheridan Rd,E008,42.050523,-87.677829,42.050491,-87.677821,member,-16.0
5336732,5ACA942162006249,electric_bike,2022-10-21 19:29:00,2022-10-21 19:28:59,NaN,NaN,Green St & Randolph St*,chargingstx3,41.880000,-87.650000,41.883602,-87.648627,casual,-1.0
5344837,918F745F62CAC29E,classic_bike,2022-10-13 14:42:10,2022-10-13 11:53:28,Wilton Ave & Diversey Pkwy*,chargingstx0,Wilton Ave & Diversey Pkwy*,chargingstx0,41.932418,-87.652705,41.932418,-87.652705,member,-10122.0
5562907,D948CEECBD356EAB,electric_bike,2022-10-24 17:03:29,2022-10-24 17:03:28,NaN,NaN,NaN,NaN,41.940000,-87.670000,41.940000,-87.670000,member,-1.0

Looks like there are some instances of having a negative trip duration, but there are so few of them that we can just remove them from the dataset.

In [39]:
df = df[df['trip_duration_sec']>=0]

Next, it would be meaningful to remove any trips that we will call "false starts"--that is, trips we will identify as "the user tried to use the bike but something went wrong, so they quickly put the bike back". We will identify these occurances as trips that have a short duration (less than 2 minutes) and have the same start/stop location (their start/end lat/lng values are within 0.001 of eachother). First, let's see how many of these "false starts" are in the data.

In [40]:
df[(df['trip_duration_sec']<120) & (abs(df['start_lat']-df['end_lat'])<0.001) & (abs(df['start_lng']-df['end_lng'])<0.001)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration_sec
7,17069CC749126036,electric_bike,2021-11-27 14:33:56,2021-11-27 14:34:38,NaN,NaN,NaN,NaN,41.950000,-87.660000,41.950000,-87.660000,casual,42.0
21,E7FA1E28D495677C,electric_bike,2021-11-02 18:57:21,2021-11-02 18:59:10,NaN,NaN,NaN,NaN,41.890000,-87.770000,41.890000,-87.770000,casual,109.0
54,9724A6293110241C,electric_bike,2021-11-06 15:25:05,2021-11-06 15:26:12,NaN,NaN,NaN,NaN,41.920000,-87.740000,41.920000,-87.740000,casual,67.0
66,281EAFBF5C4A3D2D,electric_bike,2021-11-06 11:48:42,2021-11-06 11:48:56,NaN,NaN,NaN,NaN,41.800000,-87.690000,41.800000,-87.690000,casual,14.0
86,AEAC27FF919CEA85,electric_bike,2021-11-01 14:02:42,2021-11-01 14:03:58,NaN,NaN,NaN,NaN,41.870000,-87.640000,41.870000,-87.640000,casual,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5748307,BAFC9FE364030D41,electric_bike,2022-10-17 15:02:24,2022-10-17 15:03:57,Rush St & Hubbard St,KA1503000044,Rush St & Hubbard St,KA1503000044,41.890130,-87.626244,41.890173,-87.626185,member,93.0
5748367,DB76DE35ADA1CB07,electric_bike,2022-10-16 13:13:38,2022-10-16 13:15:01,Sheridan Rd & Montrose Ave,TA1307000107,Sheridan Rd & Montrose Ave,TA1307000107,41.961618,-87.654663,41.961670,-87.654640,member,83.0
5748368,4BFCD4F64A2BEF3B,electric_bike,2022-10-23 18:12:00,2022-10-23 18:12:37,Halsted St & Roscoe St,TA1309000025,Halsted St & Roscoe St,TA1309000025,41.943689,-87.648958,41.943670,-87.648950,member,37.0
5748374,27810887F8B837FA,electric_bike,2022-10-03 18:08:55,2022-10-03 18:10:21,Sheridan Rd & Montrose Ave,TA1307000107,Sheridan Rd & Montrose Ave,TA1307000107,41.961584,-87.654667,41.961670,-87.654640,member,86.0
5748375,A69055246F869E16,electric_bike,2022-10-17 06:48:21,2022-10-17 06:48:44,Aberdeen St & Jackson Blvd,13157,Aberdeen St & Jackson Blvd,13157,41.877712,-87.654872,41.877726,-87.654787,member,23.0

These "false starts" account for about 2.5% of the dataset. Since these "false starts" are not reporting meaningful use of the bikes, we will remove them from the dataset.

In [41]:
df = df[~((df['trip_duration_sec']<120) & (abs(df['start_lat']-df['end_lat'])<0.001) & (abs(df['start_lng']-df['end_lng'])<0.001))]
df.reset_index(drop=True,inplace=True)

## member_casual

We expect to see only "casual" and "member" as options here.

In [42]:
df['member_casual'].unique()

array(['casual', 'member'], dtype=object)

Looks good.

# Save Cleaned Data

In [43]:
df.to_csv('divvy_cleaned.csv')

# Explore Data Further--Look for Trends

To make things easy, we split the data into two sets--one for casual riders and one for member riders.

In [44]:
df_c = df[df['member_casual']=='casual']

In [45]:
df_m = df[df['member_casual']=='member']

## Bike Preference?
Check frequency.

In [46]:
# casual
df_c['rideable_type'].value_counts(normalize=True)

electric_bike    0.53978
classic_bike     0.46022
Name: rideable_type, dtype: float64

In [47]:
# member
df_m['rideable_type'].value_counts(normalize=True)

classic_bike     0.514821
electric_bike    0.485179
Name: rideable_type, dtype: float64

Casual riders have a slight preference for electric bikes (perhaps due to their more convenient pickup/dropoff allowed locations). Member riders may be more likely to have typical routes they need the bike for, and so may prefer a consistent pickup/dropoff location. Also, [only classic bikes are free for members](https://divvybikes.com/)--so members may be more inclined to want to take advantage of this.

## Preferred Day of Week?

Check frequency.

Note: 0 = Monday; 6 = Sunday

In [48]:
# casual
df_c['started_at'].dt.dayofweek.value_counts(normalize=True).sort_index()

0    0.121164
1    0.112479
2    0.117206
3    0.130579
4    0.144026
5    0.206022
6    0.168524
Name: started_at, dtype: float64

In [49]:
# member
df_m['started_at'].dt.dayofweek.value_counts(normalize=True).sort_index()

0    0.143957
1    0.154135
2    0.155808
3    0.156645
4    0.140094
5    0.133267
6    0.116094
Name: started_at, dtype: float64

Casual riders prefer weekend days, Saturday in particular (perhaps for fun weekend trips). Members prefer weekdays (perhaps for commuting).

## Preferred Month?

Check frequency.

In [50]:
# casual
df_c['started_at'].dt.month.value_counts(normalize=True).sort_index()

1     0.007856
2     0.009097
3     0.038358
4     0.053887
5     0.119339
6     0.156881
7     0.172305
8     0.152233
9     0.125899
10    0.088487
11    0.045792
12    0.029864
Name: started_at, dtype: float64

In [51]:
# member
df_m['started_at'].dt.month.value_counts(normalize=True).sort_index()

1     0.025088
2     0.027601
3     0.057188
4     0.071911
5     0.104229
6     0.117840
7     0.122604
8     0.125421
9     0.118819
10    0.102585
11    0.074379
12    0.052337
Name: started_at, dtype: float64

Everyone prefers warm months, but members are slightly more likely to use during colder months.

## Typical Trip Duration?

In [52]:
# casual
df_c['trip_duration_sec'].describe()

count    2.287917e+06
mean     1.370238e+03
std      4.624728e+03
min      0.000000e+00
25%      4.690000e+02
50%      8.100000e+02
75%      1.480000e+03
max      2.061244e+06
Name: trip_duration_sec, dtype: float64

In [53]:
# member
df_m['trip_duration_sec'].describe()

count    3.319652e+06
mean     7.585186e+02
std      1.094299e+03
min      0.000000e+00
25%      3.200000e+02
50%      5.430000e+02
75%      9.320000e+02
max      8.957500e+04
Name: trip_duration_sec, dtype: float64

Members have a smaller median trip duration--perhaps because they are more likely to have a specific desitination in mind (rather than wandering). Members also have smaller variance in trip duration.

Check trip duration on different days.

In [54]:
# casual
df_c.groupby(df_c['started_at'].dt.dayofweek).median()['trip_duration_sec']

started_at
0    803.0
1    720.0
2    714.0
3    727.0
4    774.0
5    929.0
6    935.0
Name: trip_duration_sec, dtype: float64

In [55]:
# member
df_m.groupby(df_m['started_at'].dt.dayofweek).median()['trip_duration_sec']

started_at
0    520.0
1    519.0
2    527.0
3    530.0
4    535.0
5    608.0
6    590.0
Name: trip_duration_sec, dtype: float64

Both casual riders and members tend to use the bike longer on weekends.

## Preferred Stations?

### Start Stations

In [56]:
# casual
df_c['start_station_name'].value_counts(normalize=True).sort_values(ascending=False)

Streeter Dr & Grand Ave                       2.914563e-02
DuSable Lake Shore Dr & Monroe St             1.628174e-02
Millennium Park                               1.295596e-02
Michigan Ave & Oak St                         1.271833e-02
DuSable Lake Shore Dr & North Blvd            1.192314e-02
                                                  ...
Public Rack - Austin Ave & Wellington Ave     5.143498e-07
Public Rack - Kedzie Ave & 62nd Pl            5.143498e-07
City Rack - Albany Ave & 103rd St             5.143498e-07
Public Rack - Kedzie Ave &amp; 62nd Pl        5.143498e-07
Public Rack - Rutherford Ave & Belmont Ave    5.143498e-07
Name: start_station_name, Length: 1560, dtype: float64

In [57]:
# member
df_m['start_station_name'].value_counts(normalize=True).sort_values(ascending=False)

Kingsbury St & Kinzie St              8.955828e-03
Clark St & Elm St                     7.857651e-03
Wells St & Concord Ln                 7.606973e-03
University Ave & 57th St              7.027478e-03
Ellis Ave & 60th St                   6.918934e-03
                                          ...
Public Rack - Harper Ave & 63rd St    3.535660e-07
Sawyer Ave & Bryn Mawr Ave - SE       3.535660e-07
Michigan Ave & 102nd St               3.535660e-07
Green St & 103rd St                   3.535660e-07
Public Rack - Kedzie Ave & 58th St    3.535660e-07
Name: start_station_name, Length: 1459, dtype: float64

### end stations

In [58]:
df_c['end_station_name'].value_counts(normalize=True).sort_values(ascending=False)

Streeter Dr & Grand Ave                       3.117026e-02
DuSable Lake Shore Dr & Monroe St             1.547482e-02
Millennium Park                               1.405679e-02
Michigan Ave & Oak St                         1.380914e-02
DuSable Lake Shore Dr & North Blvd            1.363626e-02
                                                  ...
Public Rack - Bishop St & 81st St             5.303048e-07
Public Rack - Keef Ave & South Chicago Ave    5.303048e-07
Public Rack - Calumet Ave & Garfield Blvd     5.303048e-07
Public Rack - Brainerd Park                   5.303048e-07
Public Rack - Halsted St & 63rd St            5.303048e-07
Name: end_station_name, Length: 1575, dtype: float64

In [59]:
df_m['end_station_name'].value_counts(normalize=True).sort_values(ascending=False)

Kingsbury St & Kinzie St                  8.763193e-03
Clark St & Elm St                         7.987852e-03
Wells St & Concord Ln                     7.809198e-03
University Ave & 57th St                  7.292657e-03
Clinton St & Washington Blvd              7.156019e-03
                                              ...
Public Rack - Menard Ave & Adams Blvd     3.530698e-07
Public Rack - Kedzie Ave & Pershing Rd    3.530698e-07
Public Rack - Kedzie Ave & 61st Pl W      3.530698e-07
Public Rack - Kedzie & 103rd St - W       3.530698e-07
Public Rack - Kedzie Ave & 58th St        3.530698e-07
Name: end_station_name, Length: 1434, dtype: float64

Casual riders tend to have destinations related to leisure, members tend to have desitions related to work.